/*
 * Main
 */
html {
	height: 100%;
}
body {
	font-size: 12px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	direction: ltr;
	height: 100%;
}
footer {
	height: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-top: 1px solid #ccc;
	position: absolute;
	padding-left: 10px;
	bottom: 0;
	width: 100%;
	color: #000;
	text-align: left;
	line-height: 20px;
	z-index 1;
}
dd, dt {
	margin: 0 0 0 5px;
}
dd {
	margin-bottom: 5px;		
}
#sidebar {
	width: 290px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	height: 100%;
	right: 0;
	border-left: 1px solid #ccc;
	padding: 0 10px;
	z-index: 2;
}
	#sidebar .get_directions {
		padding: 0 10px 0 15px;
		margin: 0 -10px 0 -10px;				
		border-top: 1px solid #ccc;
		background-color: #CCDEDC;
	}
		#sidebar .get_directions ul {
			padding-left: 0px;
			margin-bottom: 0;
			padding-bottom: 10px;
		}
	#sidebar .map_legend {
		border-top: 1px solid #ccc;
		padding: 0 10px 20px 15px;
		margin: 0 -10px 10px -10px;		
	}
	#sidebar ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 5px;
	}
		#sidebar ul li img {
			vertical-align: middle;
		}
	#sidebar .urgency {
		border-bottom: 1px solid #ccc;
		padding: 0 10px 20px 15px;
		margin: 0 -10px 10px -10px;
		background-color: #CCDEDC;
	}
	#sidebar h1 {
		font-family: 'Lobster', cursive;
		font-size: 40px;
		margin: 0 -10px 0px -10px;
		padding: 0 0 10px 10px;
		border-bottom: 1px solid #ccc;
	}
	#sidebar h3 {
		margin-top: 0px;
		padding-top: 8px;
		color: #727675;
	}
	#sidebar h2 {
		color: #727675;
	}
		#sidebar a {
			color: #768A88;
			text-decoration: none;
		}
		#sidebar a:hover {
			color: #000;
		}
	#sidebar dt {
		font-weight: bold;
		font-size: 13px;
		color: #727675;
	}
#map {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 310px;
}

/*
 * Jquery UI
 */
 .ui-slider-handle { 
	 background-image: none !important; 
	 border: 1px solid #666 !important;
}

/*
 * ETC
 */ 
#throbber { 
	display: none 
} 
.minibutton, .minibutton.disabled:hover {
	position: relative;
	font-family: helvetica,arial,freesans,clean,sans-serif;
	display: inline-block;
	color: #222;
	text-shadow: 1px 1px 0 white;
	white-space: nowrap;
	border: none;
	overflow: visible;
	cursor: pointer;
	border: 1px solid #D4D4D4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F4F4F4;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');
	background: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#ECECEC));
	background: -moz-linear-gradient(top,#F4F4F4,#ECECEC);
}
.minibutton > span {
	display: block;
	height: 21px;
	padding: 0 9px 0 7px;
	line-height: 21px;
	font-weight: bold;	
	text-shadow: 1px 1px 1px #fff;
}
.minibutton:hover{
	color:#fff;
	text-decoration:none;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
	border-color:#518cc6;
	border-bottom-color:#2a65a0;
	background:#599bdc;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc',endColorstr='#3072b3');
	background:-webkit-gradient(linear,left top,left bottom,from(#A7B8B6),to(#768A88));
	background:-moz-linear-gradient(top,#599bdc,#3072b3);
}

.get_directions ul li {
	display: inline-block;
}